/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; 
}

body.dark-mode {
    background-color: #121212; 
    color: white; 
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
    position: relative;
    width: 100%; 
}

.navbar:hover {
    background-color: #444; 
}

.logo {
    font-size: 1.5rem;
    position: absolute;
    left: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    padding: 0.5rem;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color:whitesmoke; 
    color: #ff6347; 
}

.dark-mode-toggle {
    position: absolute;
    right: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Burger menu for smaller screens */
.burger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .nav-links li {
        margin: 1.5rem 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        display: flex;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .toggle .line4 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .toggle .line5 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* Home section styles */
.home-section {
    padding: 6rem 2rem; 
    text-align: center;
    width: 100%; 
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.intro img {
    max-width: 400px; 
    border-radius: 50%;
    margin-right: 5rem;
    border: 5px solid #007bff; 
    transition: transform 0.3s ease, border-color 0.3s ease; 
}

.intro img:hover {
    transform: scale(1.1); 
    border-color: #0056b3; 
}

.intro-text {
    text-align: left;
}

.intro-text h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.intro-text h2 {
    font-size: 3.5rem; 
    margin-bottom: 1rem;
}

.intro-text marquee {
    font-size: 2.5rem; 
    margin-bottom: 2rem;
}

.intro-text p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.social-icons {
    margin-bottom: 2rem;
}

.social-icons a {
    color: blue;
    font-size: 2.5rem; 
    margin-right: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: darkcyan; 
    transform: scale(1.2); 
    filter: brightness(1.2); 
}

.btn1 {
    display: inline-block;
    padding: 0.75rem 2rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn1:hover {
    background-color: #0056b3; 
}

/* About section styles */
.about-section {
    padding: 6rem 2rem; 
    text-align: left;
    width: 100%; 
}

.about-section .container {
    max-width: none; 
    margin: 0 auto;
}

.about-section h2 {
    font-size: 3rem; 
    margin-bottom: 2rem;
    text-align: center;
}

.about-section .about-text p {
    font-size: 1.5rem; 
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.about-section h3 {
    font-size: 2.5rem; 
    margin-bottom: 1rem;
}

.about-section .resume ul li {
    font-size: 1.5rem; 
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.about-section .experience h4 {
    font-size: 2rem; 
    margin-bottom: 0.5rem;
}

.about-section .experience ul {
    list-style-type: disc;
    margin-left: 2rem;
    font-size: 1.5rem; 
}

.about-section .experience ul li {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.about-section p {
    font-size: 1.5rem; 
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

/* Skills section styles */
.skill-section {
    margin: 2em 0;
    width: 100%; 
}

#skills h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.skill-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em; 
}

.skill-col {
    flex: 1;
    margin: 0.8em; 
    text-align: center;
    max-width: 100px; 
}

.skill-col p{
    font-size: 1.5rem;
}

.skill-col img {
    width: 80px; 
    height: 80px; 
    transition: transform 0.3s ease, filter 0.3s ease;
}

.skill-col img:hover {
    transform: scale(1.1); 
    filter: brightness(1.2); 
}

/* Projects section styles */
.projects-section {
    padding: 4rem 2rem; 
    text-align: center;
    width: 100%; 
}

.projects-section .container {
    max-width: none; 
    margin: 0 auto;
}

.projects-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.project-list {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    margin: -1% -1% 0; 
}

.project {
    width: calc(33.33% - 2%); 
    margin: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
    cursor: pointer;
}

.project:hover {
    transform: translateY(-5px);
    border: 2px solid white;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.project-info p {
    font-size: 1.5rem; 
    line-height: 1.6; 
    margin-bottom: 1rem; 
}  

.project-info h3 {
    font-size: 2rem; 
    line-height: 1.6; 
    margin-bottom: 1rem; 
}  

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: white; 
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px; 
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.btn a {
    color: black; 
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.btn:hover {
    background-color: whitesmoke; 
}

/* Certification section styles */
.cert-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; /* Full width */
}

.certifications-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 15px;
    margin-bottom: 2rem;
}

.cert {
    width: calc(33.33% - 2%); 
    margin: 1%;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.4em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
    cursor: pointer;
}

.cert:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
}

.cert h3 {
    margin-bottom: 10px;
}


.cert .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    margin-top: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cert .btn:hover {
    background-color: #0056b3;
}
